<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main-layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <h2>Đặt món nhanh</h2>
    <table border="1">
        <tr>
            <th>Tên món</th>
            <th>Giá</th>
        </tr>

        <tr th:each="d : ${dishes}">
            <td th:text="${d.name}">Phở bò</td>
            <td th:text="${d.price}">40000</td>
        </tr>

    </table>

    <h3>
        Tổng tiền:
        <span th:text="${total}">0</span>
    </h3>

</div>
</body>
</html>